nav {
	background-color: grey;
	position: fixed;
	height: 60px;
	padding-left: 60px;
	padding-right: 60px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	overflow: hidden;
	border-radius: 50%;
	
}

nav ul {
	list-style-type: none;
	display: inline-block;
	margin: 0;
}

nav li {
	display: inline-block;
}

nav li:after {
	content: '';
	width: 1px;
	height: 20px;
	background-color: green;
	padding: 0 5px;
}

nav li:last-child:after {
	content: none;
}
nav li:hover a {
	color: yellow;
}

main {
	padding-top: 90px;
	min-width: 1000px;
}

.box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	border: 10px dotted green;
	height: 300px;
	width: 600px;
	position: relative;
}

.cat {
	position: absolute;
	width: 200px;
	top: -100px;
	left: -100px;
}

.dog {
	position: absolute;
	width: 200px;
	bottom: -100px;
	right: -100px;
}

body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
 	background-size: cover;
}